<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6793290562583440"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        {{ block "main" . }}{{ end }}
    </div>
    <footer>
        <p>© 2025 Lazy Prompt. Powered by AI.</p>
    </footer>
    <script src="/js/copy.js"></script>
    <script src="/js/search.js"></script>
</body>

</html>